* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

.columna {
  width: 50%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.restaurant-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.icon-wrapper {
  margin: 2rem 0;
  font-size: 2rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 28px !important;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.login-form p {
  margin-bottom: 20px;
  font-size: 16px;
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 10px 0;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background: #0056b3;
}

/* ... (tus otros estilos CSS) ... */

.alert.alert-warning {
  /* Estilo específico para alertas de advertencia */
  background-color: #f0f0f0;
  /* Fondo gris claro */
  color: #dc3545;
  /* Color rojo para el texto */
  border: 1px solid #dc3545;
  /* Borde rojo */
  padding: 15px;
  /* Espaciado interno */
  margin-bottom: 20px;
  /* Margen inferior */
  border-radius: 8px;
  /* Bordes redondeados */
  text-align: center;
  /* Texto centrado */
  font-weight: bold;
  /* Texto en negrita */
}



.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger strong {
  font-weight: bold;
}

.alert-danger p {
  margin-bottom: 0;
}

.header {
  padding: 0 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #353535;
}

.container {
  max-width: 80rem;
  margin: 20px auto;
}

.logo {
  max-width: 7rem;
}

.logo img {
  max-width: 100%;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.icons i {
  margin-left: 10px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 10px;
}

.link-nav {
  color: white;
  background-color: #756B6B;
  text-decoration: none;
  padding: 1.2rem;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.link-nav:hover {
  background-color: #FFFFFF;
  color: black;
  border-color: white;
}

.activo {
  background-color: #FFFFFF;
  color: black;
  border-color: white;
}

i:hover {
  color: goldenrod;
}

.welcome-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.welcome-message {
  font-size: 1.2em;
  margin-top: 10px;
}

.admin {
  color: #007bff;
}

.mozo {
  color: #28a745;
}

.cocinero {
  color: #dc3545;
}

.mesas-section {
  flex: 1;
}

.mesa-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 15px;
}

.mesas-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mesa {
  background-color: #4CAF50;
  color: white;
  padding: 60px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.mesa:hover {
  background-color: #45a049;
}

.mesa.ocupada {
  background-color: rgba(255, 0, 0, 1);
}

.mesa.ocupada:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.mesa.sucio {
  background-color: rgba(0, 0, 255, 1);
}

.mesa.sucio:hover {
  background-color: rgba(0, 0, 255, 0.6);
}

.mesas-section {
  flex: 1;
  max-width: 70%;
}

#detalle-mesa {
  flex: 2;
  max-width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

#detalle-mesa.active {
  display: block;
}

#detalle-mesa h2 {
  margin-bottom: 15px;
}

#detalle-mesa .form-group {
  margin-bottom: 10px;
}

#detalle-mesa label {
  display: block;
  margin-bottom: 5px;
}

#detalle-mesa input,
#detalle-mesa select,
#detalle-mesa textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#detalle-mesa button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el botón "Editar mesas" */
#editar-mesas {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.flex {
  gap: 8rem;
  display: flex;
}

.menu-categorias {
  display: flex;
  /* Usar flexbox para alinear las categorías */
  gap: 10px;
  /* Espacio entre categorías */
  margin-bottom: 20px;
}

.menu-categorias a {
  padding: 8px 15px;
  background-color: #f0f0f0;
  /* Fondo gris claro */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Transición suave */
}

.menu-categorias a:hover,
.menu-categorias a.categoria-activa {
  background-color: #ddd;
  /* Fondo gris más oscuro al pasar el mouse o activo */
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  grid-auto-flow: column;
  /* Colocar elementos en filas */
  gap: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.menu-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-primary {
  margin-top: 10px;
}

/* Estilos para los botones de categoría */
.categoria-btn {
  background-color: #756B6B;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoria-btn:hover,
.categoria-btn.active {
  background-color: brown;
  /* Color azul para activo/hover */
  color: white;
}

/* Estilos para el resumen del pedido */
#pedido-resumen {
  background-color: #fff;
  /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  margin-bottom: 20px;
  /* Espacio inferior */
}

#pedido-resumen h3 {
  margin-bottom: 15px;
}

#lista-pedido {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.pedido-item {
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.pedido-item-nombre {
  text-align: left;
  /* Alineamos el nombre del plato a la izquierda */
}

.pedido-item-cantidad {
  display: flex;
  align-items: center;
  justify-content: center;
}

#lista-enproceso,
#lista-cancelados,
#lista-finalizados {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
}

.btn-cantidad {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  width: 30px;
  /* Ancho fijo para los botones */
  height: 30px;
  /* Alto fijo para los botones */
  border-radius: 50%;
  /* Botones redondos */
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn-cantidad:hover {
  background-color: #ddd;
}

.cantidad {
  margin: 0 10px;
  font-weight: bold;
}

.pedido-item-precio {
  text-align: right;
  /* Alineamos el precio a la derecha */
}

.eliminar-plato {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #dc3545;
  /* Rojo para el botón de eliminar */
}

/* Estilos para el botón "Finalizar Venta" */
#finalizar-venta {
  background-color: #28a745;
  /* Verde */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  /* Ancho completo */
}

/* Contenedor principal de los pedidos */
.pedidos-container {
  display: flex;
  justify-content: space-around;
  /* Distribuye las columnas uniformemente */
  gap: 20px;
  /* Espacio entre columnas */
}

/* Columnas individuales de pedidos */
.pedido-column {
  flex: 1;
  /* Cada columna ocupa el mismo espacio */
  border: 1px solid #ddd;
  /* Borde gris claro */
  padding: 20px;
  border-radius: 8px;
  min-height: 300px;
}

.pedido-column h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red {
  background-color: #f44336;
}

.blue {
  background-color: #2196F3;
}

.green {
  background-color: #4CAF50;
}

ul {
  list-style: none;
  padding: 0;
}

/* Estilos para cada pedido individual */
.pedido-item-pedidos {
  display: flex;
  flex-direction: column;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

/* Estilos para los elementos dentro de cada pedido */
.pedido-item-pedidos>div {
  margin-bottom: 10px;
}

.pedido-item-pedidos .mesa-item {
  font-weight: bold;
  font-size: 1.2em;
}

.pedido-item-pedidos .observaciones {
  color: #9e9e9e;
}

.pedido-item-pedidos .cantidad {
  text-align: right;
}

.pedido-item-pedidos button {
  background-color: white;
  color: blue;
  width: 100%;
  margin-top: auto;
  padding: 10px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  cursor: pointer;
  float: right;
}

.siguiente-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease;
}

.siguiente-btn:hover {
  background-color: green;
  color: white;
}

/* Estilos generales para centrar el contenido */
.success-container {
  display: flex;
  flex-direction: column;
  /* Orientación vertical */
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  /* Ocupa al menos el 80% de la altura de la ventana */
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bell-icon {
  width: 100px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginacion button,
.paginacion span {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.paginacion button:hover {
  background-color: #f0f0f0;
}

/* Estilos para el botón Cancelar */
.cancelar-btn {
  font-size: 10px;
  width: auto !important;
  margin-right: 80%;
  border-radius: 30px !important;
  background-color: red !important;
}

.cancelar-btn i{
  color: white;
}

.cancelar-btn:hover {
  background-color: rgba(255, 0, 0, 0.7) !important;
}
