{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Restaurante{% endblock %}</title>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <header>
    <div class="header">
      <div class="logo">
        <img src="{% static 'img/logo.webp' %}" alt="Logo">
      </div>
      <nav>
        <ul>
          <li>{% if request.user.TipUsuCod.TipUsuDes == "Mozo" %}<a class="link-nav {% block mesasM %}{% endblock %}"
              href="/mesas">Mesas</a>{% endif %}
          </li>
          {% if request.user.TipUsuCod.TipUsuDes == "Administrador" %}
          <li><a class="link-nav {% block platos %}{% endblock %}" href="{% url 'platos_admin' %}">Platos</a></li>
          <li><a class="link-nav {% block categorias %}{% endblock %}"
              href="{% url 'categorias_admin' %}">Categorías</a></li>
          <li><a class="link-nav {% block mesas %}{% endblock %}" href="{% url 'mesas_admin' %}">Mesas</a></li>
          <li><a class="link-nav {% block usuarios %}{% endblock %}" href="{% url 'usuarios_admin' %}">Usuarios</a></li>
          {% endif %}
          <li>{% if request.user.TipUsuCod.TipUsuDes == "Cocinero" or request.user.TipUsuCod.TipUsuDes == "Mozo" %}<a
              class="link-nav {% block pedidos %}{% endblock %}" href="/pedidos">Pedidos</a>{% endif %}</li>
        </ul>
      </nav>
      <div class="icons">
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    </div>
  </header>
  <main>
    {% block content %}
    <!-- Default content -->
    {% endblock %}
  </main>
  <footer>
    <!-- Footer content -->
  </footer>
</body>

</html>
