{% extends 'base.html' %}

{% block title %}Mesas{% endblock %}

{% block content %}

<div class="container flex">
  <div class="mesas-section">
    <h2>Mesas</h2>
    <div class="mesa-grid">
      {% for mesa in mesas %}
      <a href="{% url 'mesas' %}?mesa_numero={{ mesa.numero }}"
        class="mesa{% if mesa.EstMesCod.EstMesDes == 'ocupado' and mesa.tiene_pedido %} ocupada{% elif mesa.EstMesCod.EstMesDes == 'sucio' %} sucio{% endif %}">
        {{ mesa.numero }}
      </a>
      {% endfor %}
    </div>
    {% if request.user.TipUsuCod.TipUsuDes == "Administrador" %}
    <a href="{% url 'editar_mesas' %}" id="editar-mesas">Editar mesas</a>
    {% endif %}
  </div>

  <div id="detalle-mesa">
    <h2>
      {% if mesa_seleccionada %}
      Mesa {{ mesa_seleccionada.numero }}
      {% else %}
      Selecciona una mesa
      {% endif %}
    </h2>

    {% if mesa_seleccionada %}
    {% if mensaje %}
    <div class="alert alert-warning">
      <i class="bi bi-exclamation-triangle-fill"></i> La mesa ya está ocupada.
    </div>
    {% elif mensaje_sucio %}
    <div class="alert alert-warning">
      <i class="bi bi-exclamation-triangle-fill"></i> La mesa está sucia.
    </div>
    {% csrf_token %}
    <button id="limpiar-mesa" data-mesa-id="{{ mesa_seleccionada.numero }}">Limpiar</button>
    {% else %}
    {% if form %}
    <form method="POST" action="{% url 'detalle_pedido' mesa_seleccionada.numero %}">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">Abrir Mesa</button>
    </form>
    {% endif %}
    {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}
