{% extends 'base.html' %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block pedidos %}activo{% endblock %}

{% block content %}
<script src="{% static 'js/pedidos.js' %}"></script>
<div class="container">
  <h2>Pedidos</h2>

  <div class="pedidos-container">
    <div class="pedido-column" id="cancelados">
      <h3><span class="dot red"></span> Cancelados (<span id="num-cancelados">0</span>)</h3>
      <ul id="lista-cancelados">
      </ul>
    </div>

    <div class="pedido-column" id="enproceso">
      <h3><span class="dot blue"></span> En proceso (<span id="num-enproceso">0</span>)</h3>
      <ul id="lista-enproceso">
      </ul>
    </div>

    <div class="pedido-column" id="finalizados">
      <h3><span class="dot green"></span> Finalizados (<span id="num-finalizados">0</span>)</h3>
      <ul id="lista-finalizados"></ul>
      <div id="paginacion-finalizados"></div>
    </div>
  </div>
</div>
<script id="pedidos_cancelados" type="application/json">
    {{ pedidos_cancelados|safe }}
</script>
<script id="pedidos_en_proceso" type="application/json">
    {{ pedidos_en_proceso|safe }}
</script>
<script id="pedidos_finalizados" type="application/json">
    {{ pedidos_finalizados|safe }}
</script>
{% csrf_token %}
{% endblock %}
